html, body {
    margin: 0;
    background: white;
}

.text-container {
    max-width: 760px;
    margin: 0 auto;
}

#riot-grrl-story {
    font-family: 'Georgia';
}

img {
    max-width: 100%
}

.full-size-image {
    padding: 15em 0;
    background-size: cover;
}

.full-size-image h1 {
    color: white;
    text-shadow: 0 0 40px black;
    font-size: 3em;
}

.plot-holder .caption {
    color: grey;
    text-align: right;
}

.plot-holder h3 {
    font-size: 2em;
}

.plot-holder .subtitle {
    font-weight: bold;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }